.wrapper{
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.searchContainer{
  display: flex;
  justify-content: center;
}
.searchContainer input{
  border: 2px solid #b2bec3;
  border-right: none;
  border-radius: 20px 0 0 20px;
  padding: 10px 30px;
  font-size: 28px;
  min-width: 500px;
}
.searchContainer button{
  background: rgb(255, 255, 255);
  border: 2px solid #b2bec3;
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
}
.searchContainer button:hover{
  border-color: #808080;
}
.searchContainer button i{
  font-size: 30px;
}
.searchResultContainer{
  width: 1200px;
  margin: 30px auto 120px auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 4fr);
  grid-gap: 30px 20px;
}

.goBack{
  align-self: start;
  position: relative;
  top: -45px;
}
.goBack a:hover{
  color: #000000 !important;
  text-shadow: 0px 0px 1px rgb(138, 136, 136);
}

.emptyPage{
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.nodataResult{
  width: 400px;
  margin-top: 20%;
}
.show{
  display: block;
}


/* /////////////////////////RESPONSIVE///////////////////////// */


 /* X-Large devices (large desktops, 1200px and up) */
 @media (max-width: 1280px) {
  .wrapper {
    width: 1200px;
    padding: 10px;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 1024px) {
  .wrapper{
    width: 100%;
    padding: 40px 30px;
  }
  .searchResultContainer{
    width: 100%;
    margin: 60px auto;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 30px 20px;
  }
 }

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .wrapper{
    width: 100%;
    padding: 30px 20px;
  }
  .searchContainer{
    display: flex;
    justify-content: center;
  }
  .searchContainer input{
    border-radius: 10px 0 0 10px;
    padding: 5px 30px;
    font-size: 22px;
    min-width: 300px;
  }
  .searchContainer button{
    background: rgb(255, 255, 255);
    border: 2px solid #b2bec3;
    border-radius: 0 10px 10px 0;
    padding: 5px 15px;
  }
  .searchContainer button i{
    font-size: 30px;
  }
  .searchResultContainer{
    width: 100%;
    margin: 50px auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .wrapper{
    padding: 30px 0 70px 0;
  }
  .searchContainer input{
    margin-top: 40px;
    border-radius: 10px 0 0 10px;
    padding: 0 15px;
    font-size: 18px;
  }
  .searchContainer button{
    margin-top: 40px;
    background: rgb(255, 255, 255);
    border: 2px solid #b2bec3;
    border-radius: 0 10px 10px 0;
    padding: 10px 15px;
  }
  .searchContainer button i{
    font-size: 20px;
  }
  .searchResultContainer{
    width: 100%;
    margin: 20px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px 0;
  }
  
  .emptyPage{
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  .nodataResult{
    width: 250px;
    margin-top: 20%;
  }
  .goBack{
    align-self: center;
    position: relative;
    top: -105px;
  }
 }